<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.documentscanner">
    
    <!-- Camera permission is required for the document scanner -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
